@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';


.main-screen-container {
    height: 100vh;
}

.main-screen-row-1 {
    height: 15%;
}

video {
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

.inputImage {
    display: none;
}

.visionImage {
    box-shadow: rgba(0, 0, 0, 0.24) 0 0 20px;
    transform: scaleX(-1);
    max-width: 100%;
}

.start-capturing-button-container {
    padding: 2em 4em;
    border-radius: 5%;
}


.finish-calibration-button {
    /* width: 40%;
    height: 40%; */
}

.button-disabled {
    pointer-events: none;
}

.instructions-icon {
    transform: scale(.35);
    cursor: pointer;
    height: 100%;
}

.download-circular-button-icon {
    transform: scale(.30);
    cursor: pointer;
    height: 100%;
}

.charuco-image {
    display: none;
}

.loader-row {
    height: 100%;
}

.camera-flashing-gif {
    display: block;
    height: 100%;
    width: auto;
}

ol > li::marker {
    font-weight: bold;
}

.capture-image-button {
    z-index: 99;
    position: absolute;
    bottom: 2em;
}

.pictures-taken-container {
    padding-top: 40%;
}

.calibration-error-container {
    padding-top: 30%;
}

@include media-breakpoint-down(md) { 
    .pictures-taken-container {
        padding-top: 3em;
    }
    
    .calibration-error-container {
        padding-top: 3em;
        margin-bottom: 3em;
    }
}
